[submodule "software/api-crud-requesthandler"]
	path = software/api-crud-requesthandler
	url = git@github.com:alaanescobedo/aws-basic-api-crud.git
[submodule "software/api-crud-requestStreamHandler"]
	path = software/api-crud-requestStreamHandler
	url = git@github.com:alaanescobedo/aws-api-crud-requestStreamHandler.git
